<div class="flex flex-col">
    <div class="flex flex-row px-8 md:px-16 mt-16 mb-12 mx-auto">
        <div class="flex flex-col md:basis-1/2 basis-full mx-auto">
            <p class="text-6xl font-extrabold text-white">{{headerContent?.title}}</p>
            <p class="text-lg text-dark-white font-light mt-4">{{headerContent?.subtitle}}</p>
            <div class="flex flex-col md:flex-row md:mt-8 mt-4 gap-4">
                <button type="button" class="px-12 py-4 bg-primary text-white rounded-lg">Daftar ASTROMA</button>
            </div>
        </div>
        
        <div class="flex flex-grow ">
            <img src="{{headerContent?.imageUrl}}" alt="">
        </div>
    </div>
</div>