<div class="flex flex-col px-8 py-8 bg-black">
    <div class="flex flex-col items-center md:items-start md:flex-row">
        <div class="w-1/2 sm:w-1/2">
            <img
              src="./assets/images/ic-astro-white.svg"
              loading="lazy"
            />
        </div>
        <div class="flex flex-col md:flex-row gap-8">
            <div class="flex flex-col mt-8 md:mt-0 md:w-1/3">
                <p class="text-white font-semibold">Tentang ASTRO</p>
                <p class="mt-2 text-dark-white text-sm text-justify">ASTRO UTM berperan sebagai jaringan sosisal dan wadah digital bagi seluruh Alumni Elektro Universitas Trunojoyo Madura</p>
            </div>
            <div class="flex flex-col md:mt-0 md:w-1/3">
                <p class="text-white font-semibold">Kontak Kami</p>
                <p class="mt-2 text-dark-white text-sm text-justify">apakabar[at]astro.id</p>
            </div>
            <div class="flex flex-col">
                <p class="text-white font-semibold">Terkoneksi dengan Kami</p>
                <div class="flex flex-col md:flex-row gap-2 mt-2">
                    <div class="w-12 pt-1.5 pb-1 items-center text-2xl bg-soft-black bg-opacity-60 text-white rounded text-center hover:bg-opacity-80">
                        <fa-icon [icon]="icInstagram"></fa-icon>
                    </div>
                    <div class="w-12 pt-2 pb-1 items-center text-xl bg-soft-black bg-opacity-60 text-white rounded text-center hover:bg-opacity-80">
                        <fa-icon [icon]="icFacebook"></fa-icon>
                    </div>
                    <div class="w-12 pt-2 pb-1 items-center text-xl bg-soft-black bg-opacity-60 text-white rounded text-center hover:bg-opacity-80">
                        <fa-icon [icon]="icLinkedin"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-soft-black border-0 h-px my-8">
    <div class="flex flex-col-reverse md:flex-row place-items-center md:place-content-between">
        <div class="text-dark-white mt-8 md:mt-0">
            <fa-icon [icon]="icCopyright"></fa-icon>
            2023 ASTRO UTM . All Rights Reserved
        </div>
        <div class="flex flex-col md:flex-row gap-2">
            <div class="w-40 md:w-32">
                <img src="../../../assets/images/google-play-badge.png">
            </div>
            <div class="w-40 md:w-32 rounded border border-dark-gray">
                <img src="../../../assets/images/web-badge.png">
            </div>
        </div>
    </div>
</div>