<div class="flex flex-col">
    <div class="flex flex-col place-items-center mt-8 mb-12 px-4">
        <p class="font-bold text-dark-white text-sm">Kombinasi Tim Kami</p>
        <p class="font-bold text-dark-white text-2xl mt-4">Tim Manajemen</p>
        <p class="text-dark-gray text-sm mt-1 text-center">Kami membangun komunitas dan jaringan sosial yang berkualitas</p>
    </div>
    <app-team-lead-item
        [leaderList]="leaderList">
    </app-team-lead-item>
    <hr class="bg-light-black h-px border-0 my-8">
    <div class="flex flex-col place-items-center mb-10 px-4">
        <p class="font-bold text-dark-white text-2xl mt-4">Anggota Manajemen</p>
        <p class="text-dark-gray text-sm mt-1 text-center">Kami beruntung didukung oleh individu yang berpengalaman dan berdedikasi</p>
    </div>
    <app-team-member-item
        [memberList]="memberList">
    </app-team-member-item>
</div>