<div class="grid lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-1 gap-2 mb-16 px-8">
    <div *ngFor="let member of memberList">
        <div class="flex flex-col place-items-center p-4 transition ease-in-out hover:md:scale-110">
            <img src="{{member.imageUrl}}"
                class="rounded-full w-20 h-20 object-cover">
            <p class="text-black font-bold text-lg text-center mt-4 text-ellipsis overflow-hidden h-6">{{member.name}}</p>
            <p class="text-soft-black text-center text-xs mt-1 h-8">{{member.role}}</p>
            <div class="flex flex-row gap-3 place-items-center mt-1">
                <a class="text-soft-black hover:text-black" target="blank" href="{{member.instagramUrl}}"
                    [ngClass]="member.instagramUrl === '' ? 'pointer-events-none' : 'pointer-events-auto'">
                    <fa-icon [icon]="icInstagram"></fa-icon>
                </a>
                <a class="text-soft-black hover:text-black" target="blank" href="{{member.facebookUrl}}"
                    [ngClass]="member.facebookUrl === '' ? 'pointer-events-none' : 'pointer-events-auto'">
                    <fa-icon [icon]="icFacebook"></fa-icon>
                </a>
                <a class="text-soft-black hover:text-black" target="blank" href="{{member.linkedInUrl}}"
                    [ngClass]="member.linkedInUrl === '' ? 'pointer-events-none' : 'pointer-events-auto'">
                    <fa-icon [icon]="icLinkedin"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div> 